html { font-size: 62.5%; }

/* Layout */
.layout-container { margin: 0 auto; width: 600px; }
.box { margin: 10px auto; padding: 10px; }
.top-box { margin-top: -10px; padding-top: 20px; }

nav ul { height: 25px; }
nav li { float: left; }
nav li a {
	display: block;
	height: 25px;
	padding: 0 10px;
	margin: 0 10px 0 0;
}

td { padding: 4px; }

span.icon { display: block; float: left; height: 24px; width: 24px; }

span.btn { padding: 10px; }
span.btn span.icon { height: 16px; width: 16px; margin: 0 5px 0 0; }

label { margin: 0 5px 0 0; padding: 10px; }
input { height: 24px; width: 300px; padding: 0; }

/* Style */
.box { background-color: #ddd; border-radius: 5px; }

nav li a { background: #eee; border-radius: 5px; }

td { border: 1px solid #000; }
td.icon { width: 24px; }

.riddle { margin-bottom: 10px; }

span.icon { background-color: #f0f; }
span.icon.result-indeterminate { background-color: #999; }
span.icon.result-success { background-color: #0f0; }
span.icon.result-failure { background-color: #f00; }

span.btn { background: #eee; border-radius: 5px; cursor: pointer; display: inline-block; margin: 0 5px 0 0; }
span.btn:hover { background: #fff; }

label { background: #eee; border-radius: 5px; }
input { background: transparent; border: 0; }

/* Typography */
nav li a { line-height: 25px; }
footer p { text-align: center; }
input { font-size: 1.6rem; }