body { background-image: url(../images/bg.png); }
button { background:none; border:0; margin:0; padding:0; }

div#content {
	background: #666;
	margin: 0 auto;
	padding: 20px;	
	width: 560px;
	
	border-radius: 6px;
	box-shadow:
		inset 0 1px 0 rgba(255,255,255,0.2),
		inset 0 -1px 0 rgba(0,0,0,0.4),
		0 5px 10px rgba(0,0,0,0.6);
}

form {
	border: 1px solid #666;
	padding: 2px;
	
	border-radius: 3px;
	box-shadow:
		inset 0 2px 2px rgba(0,0,0,0.4);
}
input[type=text] { background:none; border:0; color:#fff; font-size: 1.6em; }
::-webkit-input-placeholder { color:rgba(255,255,255,0.2); }
input:-moz-placeholder { color:rgba(255,255,255,0.2); }

/* Project-specific styles
-----------------------------------------------------------*/
table.riddle td
{
    border: 1px solid gray;
    margin: 0;
    padding: 3px;
}

table.riddle 
{
    border-collapse: collapse;
}

td.sad { background: #c00; }
td.happy { background: #0c0; }